.masthead
    {width: 100%;
    margin:0 auto;}

.picture
        {width: 75%;
            margin:0 auto;
            float: left;
            width: 50%;}
.body
        {background-color: silver;
        }

        
/* container */
.three-columns-grid {
    display: grid;
    grid-auto-rows: 2fr;
    grid-template-columns: 1fr 1fr;
}
/* columns */
.three-columns-grid > * {
    padding:1rem;
}
#title
    {font-size: 50px;
    text-align: center;
    }

.title-description
    {font-size: 30px;
        text-align: center;}

.slide
        {}

        footer {
            background-color: #2C2B37;
            color: #fff;
            text-align: center;
            padding: 1rem 0;
        }
        
        footer ul {
            list-style: none;
            padding: 0;
        }
        
        footer li {
            margin-bottom: 0.5rem;
        }
    .contact-me
        {font-size: 30px;
        block-size: auto;
        font-weight: bold;}