.navbar {padding: .5%;}

.headline {text-align: center;
            font-weight:bold;
            font-size: 45px;
            padding-top: 3%;}

.byline {text-align: center;
            padding-top: 1%;
            font-weight: 300;}

.chapter-headline {font-weight: bold;
                    font-size: 33px;
                    padding-left: 5%;
                    padding-right: 5%;
                    padding-top: 2%;
                    padding-bottom: 1%;}

.text {padding-left: 5%;
        padding-right: 5%;
        font-size: 15px;}

#taulia {width:100%;
    margin:0 auto;
    padding-left: 18%;
    padding-right: 18%;
    text-align: center;}

.caption
    {color: gray;
    font-size: 13px;}

.container {padding-left: 7.5%;
            padding-right: 7.5%;
            padding-top: 2%;
            padding-bottom: 1%;}

.footer {background-color: gray;
    margin-bottom: 0.5rem;}